{% extends 'base.html' %}

{% block title %}Liste des Familles de Produits{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Liste des Familles de Produits</h1>
    <a href="{% url 'family_new' %}" class="btn btn-primary mb-3">Nouvelle Famille</a>
    <a href="{% url 'family_export' %}" class="btn btn-primary mb-3">Exporter les Familles</a>
    <a href="{% url 'family_import' %}" class="btn btn-secondary mb-3">Importer des Familles</a>

    <table class="table">
        <!-- Table header -->
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
                <!-- Ajoutez d'autres colonnes si nécessaire -->
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over families and display data -->
            {% for family in families %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ family.name }}</td>
                <td>{{ family.description }}</td>
                <!-- Affichez d'autres données si nécessaire -->
                <td>
                    <a href="{% url 'family_edit' pk=family.pk %}" class="btn btn-sm btn-outline-primary me-2">Éditer</a>
                    <form action="{% url 'family_delete' pk=family.pk %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette famille de produits ?')">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
