{% extends "base.html" %}

{% block content %}
    <div style="margin-top: 3cm;">
        <h1>Import Prices</h1>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Import</button>
        </form>

        {% if imported_data %}
        <h2>Data Imported</h2>
        <table style="width:100%; border-collapse: collapse; text-align: left;">
            <tr style="border-bottom: 1px solid #ddd;">
                <th style="padding: 15px;">Product name</th>
                <th style="padding: 15px;">Location</th>
                <th style="padding: 15px;">Price</th>
                <th style="padding: 15px;">Date</th>
                <th style="padding: 15px;">Weights</th>
            </tr>
            {% for row in imported_data %}
            <tr style="border-bottom: 1px solid #ddd;">
                {% for cell in row %}
                <td style="padding: 15px;">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
