{% extends 'base.html' %}

{% block title %}Supprimer le Panier {{ panier.label }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Supprimer le Panier {{ panier.label }}</h1>
    <p>Êtes-vous sûr de vouloir supprimer ce panier?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
        <a href="{% url 'panier_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
