{% extends 'base.html' %}

{% block title %}Liste des Points de Vente{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des Points de Vente</h1>

    <!-- Ajoutez votre bouton d'importation ici -->
    <a href="{% url 'pointvente_import' %}" class="btn btn-secondary mb-3">Importer des Points de Vente</a>
    <!-- Ajoutez votre bouton d'exportation ici -->
    <a href="{% url 'pointvente_export' %}" class="btn btn-primary mb-3">Exporter les Points de Vente</a>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for point_de_vente in points_de_vente %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ point_de_vente.zone }}</h5>
                        <p class="card-text">{{ point_de_vente.gps }}</p>
                        <p class="card-text">{{ point_de_vente.wilaya }}</p>
                        <p class="card-text">{{ point_de_vente.mougataa }}</p>
                        <div class="d-grid gap-2">
                            <a href="{% url 'pointvente_edit' pk=point_de_vente.pk %}" class="btn btn-sm btn-outline-primary">Editer</a>
                            <a href="{% url 'pointvente_delete' pk=point_de_vente.pk %}" class="btn btn-sm btn-outline-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-text fs-5">Aucun point de vente disponible pour le moment.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'pointvente_add' %}" class="btn btn-primary mt-4">Ajouter un Point de Vente</a>
</div>
{% endblock %}
